@charset "UTF-8";
body {
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  background: rgba(37, 37, 37, 0.02);
}

a {
  text-decoration: none;
  color: inherit;
}

p, span, a {
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main section {
  margin: 50px 0;
}

.color-text {
  color: #243468;
}

.black-text {
  color: black;
}

.title {
  color: #243468;
  width: fit-content;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  position: relative;
  z-index: 2;
}

.title::before {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 12px;
  border-radius: 50px;
  background: rgba(155, 224, 183, 0.59);
}

.form-input {
  border: 0;
  padding: 16px 42px;
  width: 342px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  background: #FFF;
}

.top-head {
  background: #008F39;
}
.top-head__area {
  padding: 7px 0 11px 0;
  display: flex;
  align-items: center;
}
.top-head__top-menu {
  margin-left: 15px;
}
.top-head__social-media {
  margin-left: 82px;
}
.top-head__search {
  margin-left: auto;
}
.top-head__user-panel {
  margin-left: 37px;
  margin-right: 15px;
}

.top-menu {
  display: flex;
  gap: 40px;
}
.top-menu__item {
  color: white;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 26px;
}
.social-media__item {
  display: flex;
  align-items: center;
}
.social-media__item a {
  display: block;
}

.search-panel {
  position: relative;
}
.search-panel input {
  padding-left: 22px;
  border: 0;
  width: 291.477px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #FCFCFC;
}
.search-panel img {
  position: absolute;
  right: 13px;
  top: 10px;
  cursor: pointer;
}

.user-panel {
  display: flex;
  gap: 15px;
  align-items: center;
}
.middle-head__area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 7px 17px 15px;
}

.middle-head__info {
  max-width: 250px;
}
.middle-head__info p, .middle-head__info span {
  color: #000;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-logo__img {
  width: 326.25px;
  height: 24px;
  flex-shrink: 0;
}

.header-logo__text {
  color: #000;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button {
  border: 0;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: 291.477px;
  height: 55px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(103, 103, 103, 0.2) 100%), linear-gradient(268deg, #008F39 -17.03%, #30C16A 106.81%);
}

.bold-button {
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  width: 291.477px;
  height: 55px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(103, 103, 103, 0.2) 100%), linear-gradient(268deg, #008F39 -17.03%, #30C16A 106.81%);
}

.button-arrow {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.button-arrow::after {
  content: "→";
  font-size: 16px;
  margin-left: 8px;
}

.bottom-head {
  border-top: 1px solid #D7D7D7;
}

.bottom-menu {
  display: flex;
  gap: 71px;
  padding: 18px 15px;
}

.bottom-menu__item a {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-slider__slide {
  padding: 96px 0;
  overflow: hidden;
}
.main-slider__area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 59px;
}
.main-slider__title {
  margin-top: 27px;
}
.main-slider__subtitle {
  margin-top: 45px;
}
.main-slider__button {
  margin-top: 70px;
}
.main-slider__img {
  position: relative;
}
.main-slider__img img {
  position: absolute;
  border-radius: 214px 0 0 214px;
}

.uppercase-color-title {
  color: #243468;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.our-options__title {
  margin-bottom: 50px;
}
.our-options__area {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 21px;
  grid-template-rows: 310px 310px 310px;
}
.our-options__item {
  grid-column: span 2;
  border-radius: 10px;
  background: #EDF2EE;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 27px;
  padding: 30px;
}
.our-options__item:nth-child(3) {
  padding: 30px 50px;
  color: white;
  background: #008F39;
  grid-row: span 2;
  display: grid;
}
.our-options__item-title {
  font-size: 25px;
  font-weight: 600;
}
.our-options__item-service {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: baseline;
}
.our-options__item-service-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  max-width: 252px;
}
.our-options__item-service-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.our-options__item-service-button {
  margin-top: 8px;
  border-radius: 10px;
  background: #F9F9F9;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 2px 18px;
}
.our-options__item-button {
  border-radius: 10px;
  background: #F9F9F9;
  color: black;
}
.our-options__item:nth-child(4) {
  grid-column: span 4;
}
.our-options__item:nth-child(5) {
  grid-column: span 3;
}
.our-options__item:nth-child(6) {
  grid-column: span 3;
}
.our-options__item-img {
  position: absolute;
  top: 20px;
  right: 42px;
}
.our-options__item-title {
  max-width: 450px;
}

.company__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.company__title {
  max-width: 500px;
}
.company__subtitle {
  max-width: 590px;
}
.company__img {
  height: 500px;
  position: relative;
  margin-bottom: 88px;
}
.company__img img {
  position: absolute;
  right: 0;
  border-radius: 0 250px 250px 0;
}
.company__text {
  margin-bottom: 88px;
}
.company__param {
  margin-bottom: 55px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.company__param-item {
  padding: 0 50px;
  text-align: center;
}
.company__param-item-title {
  color: #008F39;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.company__param-item-subtitle {
  color: #243468;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.advantages__title {
  margin-bottom: 78px;
}
.advantages__item-title {
  color: #243468;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.advantages__area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.advantages__item {
  display: grid;
  grid-template-columns: 102px 1fr;
  grid-template-rows: 87px 1fr;
  align-items: center;
  gap: 30px;
  padding: 30px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 143, 57, 0.2);
}
.advantages__img {
  width: 102px;
  height: 87px;
  border-radius: 20px;
  background: rgba(0, 143, 57, 0.07);
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages__text {
  grid-column: span 2;
}

.main-news__title {
  margin-bottom: 70px;
}
.main-news__slider {
  display: grid;
  grid-template-columns: repeat(3, 407px);
  gap: 50px;
  justify-content: center;
}
.main-news__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-news__item-title {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  padding: 0 30px;
}
.main-news__img {
  position: relative;
}
.main-news__img img {
  border-radius: 20px;
}
.main-news__date {
  position: absolute;
  bottom: 20px;
  left: 28px;
  border-radius: 50px;
  background: #FFF;
  padding: 7px 16px;
}
.main-news__text {
  padding: 0 30px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.main-callback {
  position: relative;
  background: #EDF2EE;
}
.main-callback__area {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.main-callback__subtitle {
  max-width: 850px;
  text-align: center;
  margin-bottom: 40px;
}
.main-callback__form {
  display: flex;
  gap: 35px;
}
.main-callback__form button {
  width: 342px;
}
.main-callback__img {
  position: absolute;
  left: 0;
  top: -140px;
}

.contact__area {
  display: grid;
  grid-template-columns: 459px 724px;
  justify-content: space-between;
}
.contact__info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contact__item-is {
  color: rgba(36, 52, 104, 0.51);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact__item-name {
  color: #243468;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
.contact__item-name span {
  color: #243468;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contact__item-name p {
  color: #243468;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
.contact__social {
  display: flex;
  gap: 20px;
}
footer {
  background: #373737;
}
footer p, footer a, footer div, footer span {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 15.4px */
}
footer .footer__text-green {
  color: #008F39;
}

.footer__area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 108px 0;
  justify-content: space-between;
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.footer__block {
  display: grid;
  gap: 12px;
}
.footer__block-name {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}
.footer__social {
  display: flex;
  gap: 20px;
}
.footer__social-item img {
  width: 20px;
  height: 20px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 37px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.16);
}
.footer__bottom-left {
  display: grid;
  gap: 10px;
}
.footer__bottom-right {
  display: grid;
  gap: 10px;
}

/*# sourceMappingURL=style.css.map */
